--- // FollowItSubscribe.astro
---

<style>
  /* Your full <style> block here (copy-paste it exactly) */
  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
    /* ... all your CSS ... */
  }
  /* etc. */
</style>

<div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
  <form data-v-e7d63655="" action="https://api.follow.it/subscription-form/..." method="post">
    <!-- Your form HTML here -->
    <div data-v-e7d63655="" class="form-preview" style="background-color: rgb(255, 255, 255); ...">
      <!-- heading, input, button -->
    </div>
  </form>
  <a href="https://follow.it" class="powered-by-line">Powered by <img src="https://follow.it/images/colored-logo.svg" alt="follow.it" height="17px"/></a>
</div>
